<ion-header class="ion-no-border">
  <ion-toolbar  color="primary">
    <ion-title class="ion-text-center">Categorias de Alimentos</ion-title>
  </ion-toolbar>
  <ion-toolbar  color="primary" >
    <ion-searchbar aria-placeholder="Buscar categorias..."
                   animated
                   (ionChange)="buscarCategoria( $event )">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row> 
      <ion-col *ngFor="let categoria of categorias | buscador : textoBuscar" size="6">
        <ion-card mode="ios" [routerLink]="['/subcategoria', categoria._id]" routerLinkActive="router-link-active">
          <ion-item class="ion-text-center"> 
            <ion-label>{{ categoria.name }}</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-img src="{{categoria.imagen}}"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="botton" color="primary">
      <ion-tab-button tab="tab1">
        <ion-icon name="home"></ion-icon>
        <ion-icon>Home</ion-icon>
      </ion-tab-button>  
      <ion-tab-button tab="tab2">
        <ion-icon name="qr-scanner"></ion-icon>
        <ion-icon>scanner</ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tab3">
        <ion-icon name="home"></ion-icon>
        <ion-icon>Home</ion-icon>
      </ion-tab-button>
    </ion-tab-bar>  
  </ion-tabs>  
  
</ion-footer>


