<ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
        <ion-tab-button tab="account">
            <ion-icon name="home" color="warning"></ion-icon>
            <ion-label color="warning"> Inicio </ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="contact">
          <ion-icon name="qr-code-outline" size="50" color="warning"></ion-icon>
            <ion-label color="warning"> QR </ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="settings">
            <ion-icon name="person-outline" color="warning"></ion-icon>
            <ion-label color="warning"> Perfil </ion-label>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>