<ion-tabs>
    <ion-tab-bar color="warning">
        <ion-tab-button tab="/categorias">
            <ion-icon name="home" color="primary"></ion-icon>
            <ion-label color="primary"> Inicio </ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button tab="/">
          <ion-icon name="qr-code-outline" size="50" color="primary"></ion-icon>
            <ion-label color="primary"> QR </ion-label>
        </ion-tab-button> -->

        <ion-tab-button tab="/register">
            <ion-icon name="person-outline" color="primary"></ion-icon>
            <ion-label color="primary"> Perfil </ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>