<a-scene>
    <a-entity position="0 1.25 -1" scale="4 4 4">
        <a-gltf-model src="../../../assets/apple.glb"></a-gltf-model>
    </a-entity>

    <!-- <a-entity light="type:directional; castShadow:true;" position="1 1 1"></a-entity>
<a-gltf-model src="apple.glb" shadow="receive: false"></a-gltf-model> -->
    <!-- <a-box click-drag position="-1 0.5 1" rotation="0 45 0" width="1" height="1" depth="1" color="#4CC3D9"
  scale="0.4 0.4 0.4"></a-box> -->
    <!-- <a-box click-drag position="0 1.25 -1"  rotation="0 45 0" color="#EF2D5E" scale="0.4 0.4 0.4"></a-box> -->
    <!-- <a-sphere click-drag position="0 1.25 -1" radius="1.25" color="#EF2D5E" scale="0.4 0.4 0.4"></a-sphere> -->

    <a-entity position="0 0 3.8">
        <a-camera keyboard-controls="mode: fps"></a-camera>
    </a-entity>
</a-scene>